{% extends "english/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}Privacy Policy: Safeguarding Your Experience on WorldQna.com{% endblock en_title %}
{% comment %} add description for seo {% endcomment %}
{% block en_description %}Understand how WorldQna.com prioritizes and safeguards your privacy. Our privacy policy outlines the measures taken to protect your information while ensuring a secure and enjoyable online experience.{% endblock en_description %}
{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}WorldQna.com, Privacy Policy, Data Protection, Online Security, User Privacy, Information Safeguarding{% endblock en_keywords %}
{% comment %}  add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}privacy-policy/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {% endcomment %}
{% block x_default_url %}privacy-policy/{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}privacy-policy/{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}privacy-policy/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}privacy-policy/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}privacy-policy/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}privacy-policy/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}privacy-policy/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}privacy-policy/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}privacy-policy/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}privacy-policy/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}privacy-policy/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}privacy-policy/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}Privacy Policy: Safeguarding Your Experience on WorldQna.com{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}Understand how WorldQna.com prioritizes and safeguards your privacy. Our privacy policy outlines the measures taken to protect your information while ensuring a secure and enjoyable online experience.{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}privacy-policy/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}Privacy Policy: Safeguarding Your Experience on WorldQna.com{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}Understand how WorldQna.com prioritizes and safeguards your privacy. Our privacy policy outlines the measures taken to protect your information while ensuring a secure and enjoyable online experience.{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "privacy" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_privacy" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_privacy" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_privacy" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_privacy" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_privacy" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_privacy" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_privacy" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_privacy" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_privacy" %}{% endblock body_japanese_url %}







{% block body %}
<div class="container">
    <div class="main">

        <section>
            
            
            
            <div class="welcome-section">
                <h1>WorldQna.com Privacy Policy</h1>
                
            </div>
            <p>
                Welcome to WorldQna.com. This Privacy Policy outlines how we handle user data on our Q&A platform.
            </p>
    
            <h2>Information We Collect</h2>
            <p>
                WorldQna.com only collects and stores the questions, answers, and comments posted by users. We do not collect any personally identifiable information such as names, email addresses, or other personal details.
            </p>
    
            <h2>How We Use Your Information</h2>
            <p>
                The information collected is used solely for the purpose of facilitating the Q&A platform. We do not use this information for marketing or any other purposes.
            </p>
    
            <h2>Cookies and Tracking</h2>
            <p>
                WorldQna.com does not use cookies or tracking technologies to collect personal information.
            </p>
    
            <h2>Security</h2>
            <p>
                We take reasonable measures to ensure the security of the information collected. However, since no method of transmission over the internet is 100% secure, we cannot guarantee absolute security.
            </p>
    
            <h2>Third-Party Links</h2>
            <p>
                WorldQna.com may contain links to third-party websites. We have no control over the content and practices of these sites and encourage you to review their privacy policies.
            </p>
    
            <h2>Updates to Privacy Policy</h2>
            <p>
                We may update this Privacy Policy to reflect changes in our practices or for legal reasons. Please review this page periodically for the latest information.
            </p>
            
            
            
        </section>
    </div>
</div>
{% endblock body %}
{% comment %} <!-- end body --> {% endcomment %}
