{% extends "hindi/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}WorldQna.com: ऑनलाइन चर्चाओं में भाषा बाधाओं को तोड़ते हुए{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}WorldQna.com: कई भाषाओं में पूछें और जवाब दें, कोई लॉगिन की आवश्यकता नहीं है। वैश्विक चर्चा में आसानी से शामिल हों।{% endblock en_description %}

{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}worldqna.com, multilingual discussions, online conversations, global community, language barriers, knowledge sharing{% endblock en_keywords %}
{% comment %}  add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}home/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {% endcomment %}
{% block x_default_url %}{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}home/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}home/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}home/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}home/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}home/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}home/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}home/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}home/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}home/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}WorldQna.com: ऑनलाइन चर्चाओं में भाषा बाधाओं को तोड़ते हुए{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}WorldQna.com: कई भाषाओं में पूछें और जवाब दें, कोई लॉगिन की आवश्यकता नहीं है। वैश्विक चर्चा में आसानी से शामिल हों।{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}WorldQna.com: ऑनलाइन चर्चाओं में भाषा बाधाओं को तोड़ते हुए{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}WorldQna.com: कई भाषाओं में पूछें और जवाब दें, कोई लॉगिन की आवश्यकता नहीं है। वैश्विक चर्चा में आसानी से शामिल हों।{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}
{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "home" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_home" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_home" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_home" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_home" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_home" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_home" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_home" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_home" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_home" %}{% endblock body_japanese_url %}
{% block base_head %}{% load static %}{% endblock base_head %}







{% block body %}
<div class="container">
    <div class="banner">
        <div class="mini-banner">

            <h1>WorldQna.com: ऑनलाइन चर्चाओं में भाषा संबंधी बाधाओं को तोड़ना</h1>
            <p>WorldQna: वैश्विक ज्ञान तक परेशानी मुक्त पहुंच! किसी लॉगिन की आवश्यकता नहीं, कई भाषाओं में तुरंत विशेषज्ञ उत्तर। समुदाय के साथ जुड़ें, पाठ या वीडियो प्रारूपों में विविध विषयों का पता लगाएं। अब Worldqna.com पर हमसे जुड़ें</p>
            <button><a href="/hi/ask-question/" style="color: white;">Ask Question</a></button>
        </div>
    </div>
    <div class="trending-question">
        <div class="r-box">
            <div class="top-box">Trending Question</div>
            <div class="bottom-box"><img src="{% static "img/worldqna.png" %}" alt="img" srcset=""></div>
        </div>
        <div class="l-box">
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>In today's rapidly evolving world, art continues to push boundaries and challenge perceptions. From traditional mediums like painting and sculpture to digital and performance art, creators are breaking free from convention to express complex ideas and emotions. This diversity fuels a vibrant cultural landscape</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
        </div>
    </div>
    <div class="lang-box">
        <div class="lang-top-box">
            <p class="f1">भाषाएँ चुनें</p>
            <p>हमारे मंच पर विविध भाषाओं का अन्वेषण करें। अंग्रेजी, हिंदी, स्पेनिश, चीनी, अरबी, फ्रेंच, पुर्तगाली, रूसी, जर्मन या जापानी में से चुनें।</p>
        </div>
        <div class="lang-bottom-box">
            <div class="lang-bo">English</div>
            <div class="lang-bo">Hindi</div>
            <div class="lang-bo">Spanish</div>
            <div class="lang-bo">Chinese</div>
            <div class="lang-bo">Arabic</div>
            <div class="lang-bo">French</div>
            <div class="lang-bo">Portuguese</div>
            <div class="lang-bo">Russian</div>
            <div class="lang-bo">German</div>
            <div class="lang-bo">Japanese</div>
        </div>
    </div>
    <div class="main">

        
        <section class="home-section">
            
            
                
                <h2>हमारा दृष्टिकोण</h2>
                <p>WorldQna पर हम एक वैश्विक समुदाय की कल्पना करते हैं जहां जानकारी स्वतंत्र रूप से प्रवाहित होती है, भाषा और
                    पहुँच संबंधी बाधाओं को तोड़ते हुए। हमारा मिशन व्यक्तियों को साधन प्रदान करना है ताकि उन्हें उन्हें जानकारी पर
                    निर्णय लेने, नए चीजें सीखने, और विभिन्न क्षेत्रों में विशेषज्ञों से जुड़ने के लिए जरूरी साधनों और संसाधनों की
                    प्राप्ति हो।</p>
                    
                    <h2>मुख्य विशेषताएँ:</h2>
                    <ul>
                        <li><strong>कोई लॉगिन की आवश्यकता नहीं:</strong> एक उपयोगकर्ता खाता की आवश्यकता के बिना जानकारी तक पहुँचने का
                            अनुभव करें।</li>
                            <li><strong>त्वरित उत्तर:</strong> हमारी समर्पित टीम आपके प्रश्नों का समय पर और सटीक उत्तर सुनिश्चित करती
                                है।</li>
                                <li><strong>वैश्विक पहुँच:</strong> WorldQna दुनिया भर के उपयोगकर्ताओं को ध्यान में रखते हुए डिज़ाइन
                किया गया है, अनेक भाषाओं में सामग्री प्रदान करता है।</li>
            <li><strong>प्रतिसादी डिज़ाइन:</strong> हमारे प्रतिसादी वेब डिज़ाइन के साथ किसी भी डिवाइस पर एक संगत अनुभव का आनंद
                लें।</li>
            </ul>
            
        <h2>WorldQna का अन्वेषण करें</h2>
        <p>1. <strong>प्रश्न पूछें:</strong> बिना किसी लॉगिन की आवश्यकता के विभिन्न विषयों पर अपने प्रश्न पूछें।</p>
            <p>2. <strong>विशेषज्ञ उत्तर प्राप्त करें:</strong> हमारी विशेषज्ञ टीम कुछ घंटों में विश्वसनीय और अच्छी तरह से
                अनुसंधान किए गए उत्तर प्रदान करती है।</p>
                <p>3. <strong>समुदाय के साथ जुड़ें:</strong> चर्चाओं में शामिल हों, अपने ज्ञान को साझा करें, और समान रुचियों वाले
                    व्यक्तियों से जुड़ें।</p>

                    
                    
                    <h2>WorldQna का उपयोग कैसे करें</h2>
                    <p>WorldQna का उपयोग करना आसान और सीधा है। अपने अनुभव से सबसे अधिक निकालने के लिए इन चरणों का पालन करें:
                    </p>
                    <ol class="list">
                        <li><strong>हमारी वेबसाइट पर जाएं:</strong> अपने पसंदीदा वेब ब्राउज़र का उपयोग करके worldqna.com पर जाएं।</li>
                        <li><strong>प्रश्न पूछें:</strong> "प्रश्न पूछें" खंड में जाएं और अपना प्रश्न टाइप करें। किसी लॉगिन की आवश्यकता
                            नहीं!</li>
                            <li><strong>विशेषज्ञ उत्तर प्राप्त करें:</strong> हमारी टीम आपके प्रश्नों के लिए त्वरित और अच्छी तरह से
                                अनुसंधान किए गए उत्तर देगी, कुछ घंटों के भीतर।</li>
                                <li><strong>समुदाय के साथ जुड़ें:</strong> चर्चाओं में शामिल हों, प्रतिक्रिया प्रदान करें, और उन अन्य
                                    उपयोगकर्ताओं से जुड़ें जो आपके रुचि रखते हैं।</li>
                                </ol>
                                
                                <h2>WorldQna का उपयोग करने के लाभ</h2>
                                <p>WorldQna का चयन करके, आप विभिन्न लाभों को खोलते हैं:</p>
                                <ul>
                                    <li><strong>विविध ज्ञान तक पहुँच:</strong> दुनिया भर के विशेषज्ञों से विभिन्न विषयों पर उत्तर खोजें।</li>
                <li><strong>समय संवेदनशील समाधान:</strong> कुछ घंटों के भीतर अपने प्रश्नों का त्वरित उत्तर प्राप्त करें।
            </li>
            <li><strong>समुदाय संगठन:</strong> समान रुचियों वाले व्यक्तियों से जुड़ें, अपने दृष्टिकोण साझा करें,
                और दूसरों से सीखें।</li>
                <li><strong>कोई लॉगिन की परेशानी नहीं:</strong> एक उपयोगकर्ता खाता की आवश्यकता के बिना प्रश्न पूछने का
                    सुविधाजनक आनंद लें।</li>
                </ul>
                
            
            
        
    </section>
</div>
<p style="text-align: center;padding: 0px 10px 30px 10px;"><b>WorldQna.com से आज ही जुड़ें और ज्ञान, कनेक्शन और सुविधा की दुनिया को अनलॉक करें!</b></p>

</div>
{% endblock body %}
{% comment %} <!-- end body --> {% endcomment %}
