{% extends 'base.html' %}
{% block base_lang %}ja{% endblock base_lang %}
{% block base_title %}{% block en_title %}{% endblock en_title %}{% endblock base_title %}

{% block base_description %}{% block en_description %}{% endblock en_description %}{% endblock base_description %}

{% block base_keywords %}{% block en_keywords %}{% endblock en_keywords %},japanese{% endblock base_keywords %}

{% block base_canonical_url %}ja/{% block en_cononical_url %}{% endblock en_cononical_url %}{% endblock base_canonical_url %}

{% block base_x_default_url %}{% block x_default_url %}{% endblock x_default_url %}{% endblock base_x_default_url %}

{% block base_en_url %}{% block en_url %}{% endblock en_url %}{% endblock base_en_url %}

{% block base_es_url %}{% block es_url %}{% endblock es_url %}{% endblock base_es_url %}

{% block base_hi_url %}{% block hi_url %}{% endblock hi_url %}{% endblock base_hi_url %}

{% block base_zh_url %}{% block zh_url %}{% endblock zh_url %}{% endblock base_zh_url %}

{% block base_ar_url %}{% block ar_url %}{% endblock ar_url %}{% endblock base_ar_url %}

{% block base_pt_url %}{% block pt_url %}{% endblock pt_url %}{% endblock base_pt_url %}

{% block base_ru_url %}{% block ru_url %}{% endblock ru_url %}{% endblock base_ru_url %}

{% block base_fr_url %}{% block fr_url %}{% endblock fr_url %}{% endblock base_fr_url %}

{% block base_ja_url %}{% block ja_url %}{% endblock ja_url %}{% endblock base_ja_url %}

{% block base_de_url %}{% block de_url %}{% endblock de_url %}{% endblock base_de_url %}

{% block base_seo_facebook_url %}ja/{% block en_seo_facebook_url %}{% endblock en_seo_facebook_url %}{% endblock base_seo_facebook_url %}

{% block base_seo_facebook_title %}{% block en_seo_facebook_title %}{% endblock en_seo_facebook_title %}{% endblock base_seo_facebook_title %}

{% block base_seo_facebook_description %}{% block en_seo_facebook_description %}{% endblock en_seo_facebook_description %}{% endblock base_seo_facebook_description %}

{% block base_seo_facebook_image %}{% block seo_facebook_image %}{% endblock seo_facebook_image %}{% endblock base_seo_facebook_image %}

{% block base_seo_twitter_url %}ja/{% block en_seo_twitter_url %}{% endblock en_seo_twitter_url %}{% endblock base_seo_twitter_url %}

{% block base_seo_twitter_title %}{% block en_seo_twitter_title %}{% endblock en_seo_twitter_title %}{% endblock base_seo_twitter_title %}

{% block base_seo_twitter_description %}{% block en_seo_twitter_description %}{% endblock en_seo_twitter_description %}{% endblock base_seo_twitter_description %}

{% block base_seo_twitter_image %}{% block seo_twitter_image %}{% endblock seo_twitter_image %}{% endblock base_seo_twitter_image %}

{% block base_head %}{% block head %}{% endblock head %}{% endblock base_head %}


{% comment %} body part {% endcomment %}

{% block base_body_home %}{% url "ja_home" %}{% endblock base_body_home %}
{% block base_body_about %}{% url "ja_about" %}{% endblock base_body_about %}
{% block base_body_contact %}{% url "ja_contact" %}{% endblock base_body_contact %}
{% block base_body_privacy %}{% url "ja_privacy" %}{% endblock base_body_privacy %}
{% block base_ask %}{% url "ja_ask" %}{% endblock base_ask %}
{% block base_search_url %}{% url "ja_search" %}{% endblock base_search_url %}




{% block language_select %}Japanese{% endblock language_select %}
{% block base_body_english_url %}{% block body_english_url %}{% endblock body_english_url %}{% endblock base_body_english_url %}
{% block base_body_hindi_url %}{% block body_hindi_url %}{% endblock body_hindi_url %}{% endblock base_body_hindi_url %}
{% block base_body_spanish_url %}{% block body_spanish_url %}{% endblock body_spanish_url %}{% endblock base_body_spanish_url %}
{% block base_body_chinese_url %}{% block body_chinese_url %}{% endblock body_chinese_url %}{% endblock base_body_chinese_url %}
{% block base_body_arabic_url %}{% block body_arabic_url %}{% endblock body_arabic_url %}{% endblock base_body_arabic_url %}
{% block base_body_french_url %}{% block body_french_url %}{% endblock body_french_url %}{% endblock base_body_french_url %}
{% block base_body_portuguese_url %}{% block body_portuguese_url %}{% endblock body_portuguese_url %}{% endblock base_body_portuguese_url %}
{% block base_body_russian_url %}{% block body_russian_url %}{% endblock body_russian_url %}{% endblock base_body_russian_url %}
{% block base_body_german_url %}{% block body_german_url %}{% endblock body_german_url %}{% endblock base_body_german_url %}
{% block base_body_japanese_url %}{% block body_japanese_url %}{% endblock body_japanese_url %}{% endblock base_body_japanese_url %}







{% block base_body %}{% block body %}{% endblock body %}{% endblock base_body %}
