{% extends "japanese/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}WorldQna.com: オンライン ディスカッションで言語の壁を打ち破る{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}WorldQna.com: ログインは不要で、複数の言語で質問および回答できます。グローバルなディスカッションに簡単に参加できます。{% endblock en_description %}


{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}worldqna.com, multilingual discussions, online conversations, global community, language
barriers, knowledge sharing{% endblock en_keywords %}
{% comment %} add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}home/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {%
endcomment %}
{% block x_default_url %}{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}home/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}home/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}home/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}home/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}home/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}home/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}home/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}home/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}home/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}home/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}WorldQna.com: オンライン ディスカッションで言語の壁を打ち破る{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}WorldQna.com: ログインは不要で、複数の言語で質問および回答できます。グローバルなディスカッションに簡単に参加できます。{% endblock %}

{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}home/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}WorldQna.com: オンライン ディスカッションで言語の壁を打ち破る{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}WorldQna.com: ログインは不要で、複数の言語で質問および回答できます。 グローバルなディスカッションに簡単に参加できます。{% endblock %}

{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "home" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_home" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_home" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_home" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_home" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_home" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_home" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_home" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_home" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_home" %}{% endblock body_japanese_url %}

{% block base_head %}{% load static %}{% endblock base_head %}






{% block body %}
<div class="container">
    <div class="banner">
        <div class="mini-banner">

            <h1>WorldQna.com: オンライン ディスカッションで言語の壁を打ち破る</h1>
            <p>WorldQna: 世界中の知識に簡単にアクセス! ログインは不要で、複数の言語で専門家が即座に回答します。 コミュニティに参加し、テキストまたはビデオ形式でさまざまなトピックを探索します。 今すぐ worldqna.com に参加してください</p>
            <button><a href="/ja/ask-question/" style="color: white;">Ask Question</a></button>
        </div>
    </div>
    <div class="trending-question">
        <div class="r-box">
            <div class="top-box">Trending Question</div>
            <div class="bottom-box"><img src="{% static "img/worldqna.png" %}" alt="img" srcset=""></div>
        </div>
        <div class="l-box">
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>In today's rapidly evolving world, art continues to push boundaries and challenge perceptions. From traditional mediums like painting and sculpture to digital and performance art, creators are breaking free from convention to express complex ideas and emotions. This diversity fuels a vibrant cultural landscape</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
            <div class="trending-box"><a class="trending-link" href="">Your Link Here</a>
                <p>There is just enough space here for several lines of text. Make sure you get your message across
                    clearly yet concisely.</p>
            </div>
        </div>
    </div>
    <div class="lang-box">
        <div class="lang-top-box">
            <p class="f1">言語の選択</p>
            <p>私たちのプラットフォームで多様な言語を探索してください。 英語、ヒンディー語、スペイン語、中国語、アラビア語、フランス語、ポルトガル語、ロシア語、ドイツ語、日本語から選択します。</p>
        </div>
        <div class="lang-bottom-box">
            <div class="lang-bo">English</div>
            <div class="lang-bo">Hindi</div>
            <div class="lang-bo">Spanish</div>
            <div class="lang-bo">Chinese</div>
            <div class="lang-bo">Arabic</div>
            <div class="lang-bo">French</div>
            <div class="lang-bo">Portuguese</div>
            <div class="lang-bo">Russian</div>
            <div class="lang-bo">German</div>
            <div class="lang-bo">Japanese</div>
        </div>
    </div>
    <div class="main">


        <section class="home-section">

 
        
            <h2>私たちの視点</h2>
            <p>WorldQnaでは、情報が自由に流れるグローバルコミュニティを想像しています。言語やアクセスの障壁を乗り越えて。 私たちの使命は、個人が情報に基づいた意思決定を行い、新しいことを学び、さまざまな分野の専門家とつながるための必要なリソースとツールを提供することです。</p>
        
            <h2>主な特徴：</h2>
            <ul>
                <li><strong>ログイン不要：</strong> ユーザーアカウントの必要なしに情報にアクセスできます。</li>
                <li><strong>迅速な回答：</strong> 専門家チームが迅速かつ正確な回答を提供します。</li>
                <li><strong>グローバルアクセス：</strong> WorldQnaは世界中のユーザーを考慮して設計され、複数の言語でコンテンツを提供します。</li>
                <li><strong>レスポンシブデザイン：</strong> 当社のレスポンシブWebデザインで、どのデバイスでも一貫した体験を楽しめます。</li>
            </ul>
        
            <h2>WorldQnaの利用方法</h2>
            <p>WorldQnaの使用は簡単で直感的です。次の手順に従って、最大限の利益を得てください：</p>
            <ol class="list">
                <li><strong>ウェブサイトにアクセス：</strong> お気に入りのウェブブラウザを使用してworldqna.comにアクセスします。</li>
                <li><strong>質問する：</strong> "質問する"セクションに移動し、質問を入力します。ログインは必要ありません！</li>
                <li><strong>専門家の回答を受け取る：</strong> 専門家チームが数時間以内に信頼性の高い答えを提供します。</li>
                <li><strong>コミュニティに参加する：</strong> ディスカッションに参加し、知識を共有し、同じ興味を持つ他のユーザーとつながります。</li>
            </ol>
        
            <h2>WorldQnaの利点</h2>
            <p>WorldQnaを選択することで、さまざまな利点を開くことができます：</p>
            <ul>
                <li><strong>多様な知識へのアクセス：</strong> 世界中の専門家からさまざまなトピックに関する回答を見つけます。</li>
                <li><strong>タイムリーな解決策：</strong> 数時間以内に質問に迅速な回答を受け取ります。</li>
                <li><strong>コミュニティ組織：</strong> 共通の興味を持つ人々とつながり、視点を共有し、他の人から学びます。</li>
                <li><strong>ログインの煩わしさがありません：</strong> ユーザーアカウントがなくても質問を投稿することができます。</li>
            </ul>
        
            
        </section>
        
    </div>
    <p style="text-align: center;padding: 0px 10px 30px 10px;"><b>今すぐ WorldQna.com に参加して、知識、つながり、便利な世界を手に入れましょう!</b></p>

</div>
{% endblock body %}
{% comment %} <!-- end body --> {% endcomment %}