{% extends "french/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}Politique de confidentialité : Protéger votre expérience sur WorldQna.com{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}Découvrez comment WorldQna.com donne la priorité à votre confidentialité et protège votre sécurité. Notre politique de confidentialité détaille les mesures que nous prenons pour assurer la sécurité de vos informations et garantir une expérience en ligne sûre et agréable.{% endblock en_description %}

{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}WorldQna.com, Privacy Policy, Data Protection, Online Security, User Privacy, Information Safeguarding{% endblock en_keywords %}
{% comment %}  add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}privacy-policy/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {% endcomment %}
{% block x_default_url %}privacy-policy/{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}privacy-policy/{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}privacy-policy/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}privacy-policy/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}privacy-policy/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}privacy-policy/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}privacy-policy/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}privacy-policy/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}privacy-policy/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}privacy-policy/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}privacy-policy/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}privacy-policy/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}Politique de confidentialité : Protéger votre expérience sur WorldQna.com{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}Découvrez comment WorldQna.com donne la priorité à votre confidentialité et protège votre sécurité. Notre politique de confidentialité détaille les mesures que nous prenons pour assurer la sécurité de vos informations et garantir une expérience en ligne sûre et agréable.{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}privacy-policy/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}Politique de confidentialité : Protéger votre expérience sur WorldQna.com{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}Découvrez comment WorldQna.com donne la priorité à votre confidentialité et protège votre sécurité. Notre politique de confidentialité détaille les mesures que nous prenons pour assurer la sécurité de vos informations et garantir une expérience en ligne sûre et agréable.{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "privacy" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_privacy" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_privacy" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_privacy" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_privacy" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_privacy" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_privacy" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_privacy" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_privacy" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_privacy" %}{% endblock body_japanese_url %}







{% block body %}
<div class="container">
    <div class="main">

        <section>
            
            <div class="welcome-section">
                <h1>Politique de confidentialité de WorldQna.com</h1>
                
            </div>
            <p>
                La politique de confidentialité suivante vous fournit des informations pertinentes sur la manière dont nous gérons vos données utilisateur sur WorldQna.com, notre plateforme de questions-réponses.
            </p>
    
            <h2>Les informations que nous recueillons</h2>
            <p>
                WorldQna.com ne collecte et ne gère que les questions, réponses et commentaires publiés par les utilisateurs. Nous ne collectons aucune information d'identification personnelle comme les noms, adresses e-mail ou autres détails personnels.
            </p>
    
            <h2>Comment nous utilisons vos informations</h2>
            <p>
                Les informations collectées ne sont utilisées que dans le but de fournir des fonctionnalités à la plateforme de questions-réponses. Nous n'utilisons pas ces informations à des fins de marketing ou autres.
            </p>
    
            <h2>Cookies et suivi</h2>
            <p>
                WorldQna.com n'utilise aucun type de cookies ou de techniques de suivi pour collecter des informations personnelles.
            </p>
    
            <h2>Sécurité</h2>
            <p>
                Nous prenons des mesures appropriées pour assurer la sécurité des informations collectées. Cependant, étant donné qu'aucune méthode de communication sur Internet n'est totalement sécurisée, nous ne pouvons garantir une sécurité absolue.
            </p>
    
            <h2>Liens vers des tiers</h2>
            <p>
                WorldQna.com peut inclure des liens vers des sites Web tiers. Nous n'avons aucun contrôle sur le contenu et les pratiques de confidentialité de ces sites, donc nous vous recommandons de consulter leurs politiques de confidentialité.
            </p>
    
            <h2>Mise à jour de la politique de confidentialité</h2>
            <p>
                Nous nous réservons le droit de mettre à jour cette politique de confidentialité en tenant compte de nos pratiques en évolution. Veuillez consulter régulièrement cette page pour les dernières informations.
            </p>
            
        </section>
    
    </div>
</div>
{% endblock body %}

{% comment %} <!-- end body --> {% endcomment %}
