{% extends "portuguese/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}Política de Privacidade: Protegendo sua experiência no WorldQna.com{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}Saiba como WorldQna.com prioriza sua privacidade e protege sua segurança. Nossa Política de
Privacidade detalha as medidas que tomamos para garantir a segurança de suas informações e garantir uma experiência
online segura e agradável.{% endblock en_description %}

{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}WorldQna.com, Privacy Policy, Data Protection, Online Security, User Privacy, Information
Safeguarding{% endblock en_keywords %}
{% comment %} add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}privacy-policy/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {%
endcomment %}
{% block x_default_url %}privacy-policy/{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}privacy-policy/{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}privacy-policy/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}privacy-policy/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}privacy-policy/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}privacy-policy/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}privacy-policy/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}privacy-policy/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}privacy-policy/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}privacy-policy/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}privacy-policy/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}privacy-policy/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}Política de Privacidade: Protegendo sua experiência no WorldQna.com{% endblock %}

{% block en_seo_facebook_description %}Saiba como WorldQna.com prioriza sua privacidade e protege sua segurança. Nossa
Política de Privacidade detalha as medidas que tomamos para garantir a segurança de suas informações e garantir uma
experiência online segura e agradável.{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}
{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}privacy-policy/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}Política de Privacidade: Protegendo sua experiência no WorldQna.com{% endblock %}

{% block en_seo_twitter_description %}Saiba como WorldQna.com prioriza sua privacidade e protege sua segurança. Nossa
Política de Privacidade detalha as medidas que tomamos para garantir a segurança de suas informações e garantir uma
experiência online segura e agradável.{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "privacy" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_privacy" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_privacy" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_privacy" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_privacy" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_privacy" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_privacy" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_privacy" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_privacy" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_privacy" %}{% endblock body_japanese_url %}







{% block body %}
<div class="container">
    <div class="main">

        <section>

            <div class="welcome-section">
                <h1>Política de Privacidade do WorldQna.com</h1>
            </div>
            <p>
                Saiba como lidamos com seus dados de usuário no WorldQna.com, esta política de privacidade fornece informações
                relevantes sobre nossa plataforma de perguntas e respostas.
            </p>
        
            <h2>Que informações coletamos</h2>
            <p>
                O WorldQna.com coleta e mantém apenas perguntas, respostas e comentários postados pelos usuários. Não coletamos
                informações de identificação pessoal, como nomes, endereços de e-mail ou outros detalhes pessoais.
            </p>
        
            <h2>Como usamos suas informações</h2>
            <p>
                As informações coletadas são usadas exclusivamente para fornecer funcionalidades à plataforma de perguntas e
                respostas. Não utilizamos essas informações para fins de marketing ou qualquer outro propósito.
            </p>
        
            <h2>Cookies e rastreamento</h2>
            <p>
                O WorldQna.com não utiliza cookies ou técnicas de rastreamento para coletar qualquer tipo de informação pessoal.
            </p>
        
            <h2>Segurança</h2>
            <p>
                Tomamos medidas adequadas para garantir a segurança das informações coletadas. No entanto, como nenhum método de
                comunicação na internet é 100% seguro, não podemos garantir segurança absoluta.
            </p>
        
            <h2>Links de terceiros</h2>
            <p>
                O WorldQna.com pode incluir links para sites de terceiros. Não temos controle sobre o conteúdo e as práticas de
                privacidade desses sites e recomendamos que você revise suas políticas de privacidade.
            </p>
        
            <h2>Atualizações da Política de Privacidade</h2>
            <p>
                Reservamo-nos o direito de atualizar esta política de privacidade conforme necessário, levando em consideração
                mudanças em nossas práticas. Consulte esta página regularmente para obter as informações mais recentes.
            </p>
        
        </section>
        
    </div>
</div>
{% endblock body %}

{% comment %} <!-- end body --> {% endcomment %}