{% extends "spanish/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}Obtenga más información sobre WorldQna.com: conectando el mundo a través de conversaciones multilingües{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}Descubra la historia detrás de WorldQna.com, una plataforma dedicada a fomentar conexiones globales a través de debates multilingües. Explore nuestra misión, visión y el equipo que impulsa esta comunidad que incluye idiomas.{% endblock en_description %}
{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}WorldQna.com, About Us, Multilingual Platform, Global Connections, Mission and Vision, Language-Inclusive Community{% endblock en_keywords %}
{% comment %}  add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}about-us/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {% endcomment %}
{% block x_default_url %}about-us/{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}about-us/{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}about-us/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}about-us/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}about-us/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}about-us/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}about-us/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}about-us/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}about-us/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}about-us/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}about-us/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}about-us/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}Obtenga más información sobre WorldQna.com: conectando el mundo a través de conversaciones multilingües{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}Descubra la historia detrás de WorldQna.com, una plataforma dedicada a fomentar conexiones globales a través de debates multilingües. Explore nuestra misión, visión y el equipo que impulsa esta comunidad que incluye idiomas.{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}about-us/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}Obtenga más información sobre WorldQna.com: conectando el mundo a través de conversaciones multilingües{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}Descubra la historia detrás de WorldQna.com, una plataforma dedicada a fomentar conexiones globales a través de debates multilingües. Explore nuestra misión, visión y el equipo que impulsa esta comunidad que incluye idiomas.{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "about" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_about" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_about" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_about" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_about" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_about" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_about" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_about" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_about" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_about" %}{% endblock body_japanese_url %}







{% block body %}
<div class="container">
    <div class="main">

        <section>
            
            
            
         
<div class="welcome-section">
    <h1>Página Acerca de Nosotros</h1>
</div>

<p>Bienvenido a WorldQna.com, la plataforma global de preguntas y respuestas que está revolucionando las discusiones en línea y rompiendo barreras lingüísticas.</p>

<h2>Nuestra Misión</h2>
<p>En WorldQna, tenemos la misión de crear una comunidad global donde la información fluya libremente, trascendiendo las barreras del idioma y la accesibilidad. Nuestro objetivo es capacitar a las personas proporcionándoles herramientas y recursos para tomar decisiones informadas, aprender cosas nuevas y conectarse con expertos de todo el mundo.</p>

<h2>¿Por Qué Elegir WorldQna.com?</h2>
<p>WorldQna.com se destaca por sus características únicas:</p>
<ul>
    <li>No se Requiere Iniciar Sesión: Experimenta la libertad de acceder a la información sin necesidad de una cuenta de usuario.</li>
    <li>Respuestas Instantáneas: Nuestro equipo dedicado garantiza respuestas oportunas y precisas a tus consultas.</li>
    <li>Alcance Global: WorldQna está diseñado para atender a usuarios de todo el mundo, ofreciendo contenido en múltiples idiomas.</li>
    <li>Diseño Responsivo: Disfruta de una experiencia perfecta en cualquier dispositivo con nuestro diseño web responsivo.</li>
</ul>

<h2>Cómo Funciona WorldQna</h2>
<p>WorldQna.com permite a los usuarios:</p>
<ol>
    <li>Hacer Preguntas: Plantea tus preguntas sobre una amplia gama de temas sin necesidad de iniciar sesión.</li>
    <li>Obtener Respuestas de Expertos: Nuestro equipo de expertos proporciona respuestas confiables y bien investigadas en pocas horas.</li>
    <li>Participar en la Comunidad: Únete a discusiones, comparte tu conocimiento y conecta con personas de ideas afines.</li>
</ol>

<h2>Únete a la Conversación Global</h2>
<p>Usar WorldQna es fácil y directo:</p>
<ol>
    <li>Visita Nuestro Sitio Web: Ingresa a worldqna.com utilizando tu navegador web preferido.</li>
    <li>Haz una Pregunta: Dirígete a la sección "Hacer una Pregunta" y escribe tu consulta. ¡No es necesario iniciar sesión!</li>
    <li>Recibe Respuestas de Expertos: Nuestro equipo responderá rápidamente con respuestas bien investigadas en pocas horas.</li>
    <li>Participa en la Comunidad: Únete a discusiones, proporciona comentarios y conecta con otros usuarios que comparten tus intereses.</li>
</ol>

<h2>Beneficios de Usar WorldQna</h2>
<p>Al elegir WorldQna, desbloqueas una variedad de beneficios:</p>
<ul>
    <li>Acceso a Conocimientos Diversos: Explora respuestas sobre una amplia gama de temas de expertos de todo el mundo.</li>
    <li>Soluciones que Ahorran Tiempo: Obtén respuestas rápidas a tus preguntas en pocas horas.</li>
    <li>Participación Comunitaria: Conéctate con personas de ideas afines, comparte tus ideas y aprende de otros.</li>
    <li>Sin Problemas de Inicio de Sesión: Disfruta de la comodidad de hacer preguntas sin necesidad de una cuenta de usuario.</li>
</ul>

<p>Únete hoy mismo a WorldQna.com y emprende un viaje de descubrimiento. Amplía tus horizontes, conecta con personas de ideas afines y deja que tu curiosidad prospere en este centro de conocimiento global. ¡Juntos, hagamos de WorldQna.com el epicentro de la exploración intelectual!</p>

        </section>
    </div>
</div>
{% endblock body %}

{% comment %} <!-- end body --> {% endcomment %}
