{% extends "spanish/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}Política de privacidad: salvaguardando su experiencia en WorldQna.com{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}Comprenda cómo WorldQna.com prioriza y protege su privacidad. Nuestra política de privacidad describe las medidas tomadas para proteger su información y al mismo tiempo garantizar una experiencia en línea segura y agradable.{% endblock en_description %}

{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}WorldQna.com, Privacy Policy, Data Protection, Online Security, User Privacy, Information Safeguarding{% endblock en_keywords %}
{% comment %}  add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}privacy-policy/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {% endcomment %}
{% block x_default_url %}privacy-policy/{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}privacy-policy/{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}privacy-policy/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}privacy-policy/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}privacy-policy/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}privacy-policy/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}privacy-policy/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}privacy-policy/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}privacy-policy/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}privacy-policy/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}privacy-policy/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}privacy-policy/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}Política de privacidad: salvaguardando su experiencia en WorldQna.com{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}Comprenda cómo WorldQna.com prioriza y protege su privacidad. Nuestra política de privacidad describe las medidas tomadas para proteger su información y al mismo tiempo garantizar una experiencia en línea segura y agradable.{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}privacy-policy/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}Política de privacidad: salvaguardando su experiencia en WorldQna.com{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}Comprenda cómo WorldQna.com prioriza y protege su privacidad. Nuestra política de privacidad describe las medidas tomadas para proteger su información y al mismo tiempo garantizar una experiencia en línea segura y agradable.{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "privacy" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_privacy" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_privacy" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_privacy" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_privacy" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_privacy" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_privacy" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_privacy" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_privacy" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_privacy" %}{% endblock body_japanese_url %}







{% block body %}
<div class="container">
    <div class="main">

        <section>
            
            <div class="welcome-section">
                <h1>Política de privacidad de WorldQna.com</h1>
                
            </div>
            <p>
                Bienvenido a WorldQna.com. Esta Política de Privacidad describe cómo manejamos los datos de los usuarios en nuestra plataforma de preguntas y respuestas.
            </p>
    
            <h2>Información que recopilamos </h2>
            <p>
                WorldQna.com sólo recopila y almacena las preguntas, respuestas y comentarios publicados por los usuarios. No recopilamos ninguna información de identificación personal, como nombres, direcciones de correo electrónico u otros datos personales.
            </p>
    
            <h2>Cómo utilizamos su información</h2>
            <p>
                La información recopilada se utiliza únicamente con el fin de facilitar la plataforma de preguntas y respuestas. No utilizamos esta información para marketing ni para ningún otro fin.
            </p>
    
            <h2>Cookies y seguimiento</h2>
            <p>
                WorldQna.com no utiliza cookies ni tecnologías de seguimiento para recopilar información personal.
            </p>
    
            <h2>Seguridad</h2>
            <p>
                Tomamos medidas razonables para garantizar la seguridad de la información recopilada. Sin embargo, dado que ningún método de transmisión por Internet es 100% seguro, no podemos garantizar una seguridad absoluta.
            </p>
    
            <h2>Enlaces de terceros</h2>
            <p>
                WorldQna.com puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido y las prácticas de estos sitios y le recomendamos que revise sus políticas de privacidad.
            </p>
    
            <h2>Actualizaciones de la política de privacidad</h2>
            <p>
                Podemos actualizar esta Política de Privacidad para reflejar cambios en nuestras prácticas o por razones legales. Revise esta página periódicamente para obtener la información más reciente.
            </p>
            
        </section>
    </div>
</div>
{% endblock body %}

{% comment %} <!-- end body --> {% endcomment %}
