{% extends "russian/base.html" %}
{% comment %} English language {% endcomment %}
{% comment %} add title {% endcomment %}
{% block en_title %}Политика конфиденциальности: защита вашего опыта на WorldQna.com{% endblock en_title %}

{% comment %} add description for seo {% endcomment %}
{% block en_description %}Узнайте, как WorldQna.com расставляет приоритеты и защищает вашу конфиденциальность. В нашей политике конфиденциальности изложены меры, принимаемые для защиты вашей информации, обеспечивая при этом безопасную и приятную работу в Интернете.{% endblock en_description %}

{% comment %} add keywords for seo {% endcomment %}
{% block en_keywords %}WorldQna.com, Privacy Policy, Data Protection, Online Security, User Privacy, Information Safeguarding{% endblock en_keywords %}
{% comment %}  add canonical url for seo this page proper url like worldqna.com/what-is-html{% endcomment %}
{% block en_cononical_url %}privacy-policy/{% endblock en_cononical_url %}
{% comment %} <!-- start Hreflang Tags for seo target user-->
<!-- Default --> {% endcomment %}
{% comment %} add main page english page url default for user not choose language this user show default english page {% endcomment %}
{% block x_default_url %}privacy-policy/{% endblock x_default_url %}
{% comment %} <!-- English --> {% endcomment %}
{% block en_url %}privacy-policy/{% endblock en_url %}
{% comment %} <!-- Spanish --> {% endcomment %}
{% block es_url %}privacy-policy/{% endblock es_url %}
{% comment %} <!-- Hindi --> {% endcomment %}
{% block hi_url %}privacy-policy/{% endblock hi_url %}
{% comment %} <!-- Chinese (Mandarin) --> {% endcomment %}
{% block zh_url %}privacy-policy/{% endblock zh_url %}
{% comment %} <!-- Arabic --> {% endcomment %}
{% block ar_url %}privacy-policy/{% endblock ar_url %}
{% comment %} <!-- Portuguese --> {% endcomment %}
{% block pt_url %}privacy-policy/{% endblock pt_url %}
{% comment %} <!-- Russian --> {% endcomment %}
{% block ru_url %}privacy-policy/{% endblock ru_url %}
{% comment %} <!-- French --> {% endcomment %}
{% block fr_url %}privacy-policy/{% endblock fr_url %}
{% comment %} <!-- Japanese --> {% endcomment %}
{% block ja_url %}privacy-policy/{% endblock ja_url %}
{% comment %} <!-- German --> {% endcomment %}
{% block de_url %}privacy-policy/{% endblock de_url %}
{% comment %} <!-- end Hreflang Tags for seo target user--> {% endcomment %}
{% comment %} <!-- Open Graph / Facebook --> {% endcomment %}
{% block en_seo_facebook_url %}privacy-policy/{% endblock en_seo_facebook_url %}
{% block en_seo_facebook_title %}Политика конфиденциальности: защита вашего опыта на WorldQna.com{% endblock en_seo_facebook_title %}
{% block en_seo_facebook_description %}Узнайте, как WorldQna.com расставляет приоритеты и защищает вашу конфиденциальность. В нашей политике конфиденциальности изложены меры, принимаемые для защиты вашей информации, обеспечивая при этом безопасную и приятную работу в Интернете.{% endblock en_seo_facebook_description %}
{% block seo_facebook_image %}/static/img/worldqna-facebook-image.png{% endblock seo_facebook_image %}

{% comment %} <!-- Twitter --> {% endcomment %}
{% block en_seo_twitter_url %}privacy-policy/{% endblock en_seo_twitter_url %}
{% block en_seo_twitter_title %}Политика конфиденциальности: защита вашего опыта на WorldQna.com{% endblock en_seo_twitter_title %}
{% block en_seo_twitter_description %}Узнайте, как WorldQna.com расставляет приоритеты и защищает вашу конфиденциальность. В нашей политике конфиденциальности изложены меры, принимаемые для защиты вашей информации, обеспечивая при этом безопасную и приятную работу в Интернете.{% endblock en_seo_twitter_description %}
{% block seo_twitter_image %}/static/img/worldqna-twitter-image.png{% endblock seo_twitter_image %}

{% comment %} <!-- start body --> {% endcomment %}
{% block body_english_url %}{% url "privacy" %}{% endblock body_english_url %}
{% block body_hindi_url %}{% url "hi_privacy" %}{% endblock body_hindi_url %}
{% block body_spanish_url %}{% url "es_privacy" %}{% endblock body_spanish_url %}
{% block body_chinese_url %}{% url "zh_privacy" %}{% endblock body_chinese_url %}
{% block body_arabic_url %}{% url "ar_privacy" %}{% endblock body_arabic_url %}
{% block body_french_url %}{% url "fr_privacy" %}{% endblock body_french_url %}
{% block body_portuguese_url %}{% url "pt_privacy" %}{% endblock body_portuguese_url %}
{% block body_russian_url %}{% url "ru_privacy" %}{% endblock body_russian_url %}
{% block body_german_url %}{% url "de_privacy" %}{% endblock body_german_url %}
{% block body_japanese_url %}{% url "ja_privacy" %}{% endblock body_japanese_url %}







{% block body %}
<div class="container">
    <div class="main">

        <section>
            <div class="welcome-section">
                <h1>Политика конфиденциальности WorldQna.com</h1>
                
            </div>
            <p>
                Добро пожаловать на WorldQna.com. Настоящая Политика конфиденциальности определяет, как мы обрабатываем пользовательские данные на нашей платформе вопросов и ответов.
            </p>
    
            <h2>Информация, которую мы собираем</h2>
            <p>
                WorldQna.com собирает и хранит только вопросы, ответы и комментарии, размещенные пользователями. Мы не собираем никаких лично идентифицируемых данных, таких как имена, адреса электронной почты или другие личные сведения.
            </p>
    
            <h2>Как мы используем вашу информацию</h2>
            <p>
                Собранная информация используется исключительно для целей обеспечения функционирования платформы вопросов и ответов. Мы не используем эту информацию для маркетинговых или любых других целей.
            </p>
    
            <h2>Куки и отслеживание</h2>
            <p>
                WorldQna.com не использует куки или технологии отслеживания для сбора личной информации.
            </p>
    
            <h2>Безопасность</h2>
            <p>
                Мы предпринимаем разумные меры для обеспечения безопасности собранной информации. Однако, поскольку ни один метод передачи данных по интернету не является 100% безопасным, мы не можем гарантировать абсолютную безопасность.
            </p>
    
            <h2>Ссылки на сторонние ресурсы</h2>
            <p>
                WorldQna.com может содержать ссылки на веб-сайты сторонних лиц. Мы не контролируем содержание и практики этих сайтов и рекомендуем вам ознакомиться с их политикой конфиденциальности.
            </p>
    
            <h2>Обновления Политики конфиденциальности</h2>
            <p>
                Мы можем обновлять настоящую Политику конфиденциальности, чтобы отразить изменения в наших практиках или по юридическим причинам. Пожалуйста, периодически просматривайте эту страницу для получения последней информации.
            </p>
            
            
            
        </section>
    
    </div>
</div>
{% endblock body %}

{% comment %} <!-- end body --> {% endcomment %}
